<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recycling</title>
    <link rel="stylesheet" href="/css/recycling.css">
    <link rel="stylesheet" href="/css/font.css">

</head>

<body>
<!-- header start -->
<!-- header end -->

<!-- title start -->

<section data-v-158066f9="" class="jumbotron" style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/service-bg/service_362.jpg&quot;);">
    <div data-v-158066f9="" class="title-wrapper" style="z-index: 3;">
        <h1 class="title" id="h1">수거 신청하기</h1>
        <div data-v-158066f9="" data-name="service-review-rate">
            <ul data-v-a0be80fc="" data-v-158066f9="" class="star-rate readonly" style="--gap:0px;">
            <li data-v-a0be80fc="">
                <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
            </li>
                <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
                        </li>
                 <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
                        </li>
                 <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
                         </li>
                <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-half.svg" alt="Star Icon">
                        </li>
            </ul>
            <span class="starnum">4.5</span>
        </div>
        <div data-v-158066f9="" data-name="service-data" class="row no-gutters">
            <div data-v-158066f9="" class="col-auto"><h5 class="title num count" data-count="12376"></h5>
                <p class="title sub">활동 고수</p>
            </div><div data-v-158066f9="" class="col-auto">
                    <h5 class="title num count" data-count="57686">57,686</h5>
                        <p class="title sub">누적 요청서</p>
                </div>
                    <div data-v-158066f9="" class="col-auto" style="border-right: none;"><h5 class="title num count" data-count="2522">2,522</h5>
                        <p class="title sub">리뷰 수</p>
                    </div>
                </div>
            </div>
            <div data-v-158066f9="" class="dimmed"></div>
        </section>

    <!-- title end -->




    <!-- input start -->
  
    <section data-v-158066f9="" class="form-contents">
        <div data-v-158066f9="" data-name="request-form-wrap">

            <!-- from -->
            <form data-v-a27bfd4a="" data-v-158066f9="" data-testid="request-form" class="request-form container-fluid">
                <div data-v-158bbf04="" data-v-a27bfd4a="" class="request-form-progress-bar">
                    <div data-v-158bbf04="" class="progress-wrapper">
                            <div data-v-158bbf04="" class="progress">
                                <div data-v-158bbf04="" class="progress-bar" id="progress-bar" style="width: 44%;">
                                    </div>
                            </div>
                    <div data-v-158bbf04="" class="progress-percent" id="progress-percent" >44%</div>
                </div>








                
            </div>
            <div data-v-a27bfd4a="" class="request-item-wrapper">
                <div data-v-c169ef14="" data-v-a27bfd4a="">
                    <div data-v-c169ef14="" class="RequestForm--question-section">
                        <div data-v-c169ef14="" class="RequestForm--question">수거 신청 목록을 작성 해주세요 </div>
                        <div data-v-c169ef14="" class="RequestForm--question-desc">
                        </div>
                    </div>


                    <ul data-v-c169ef14="" class="RequestForm--answer-section">

                        <!-- 1 -->
                        <li data-v-c169ef14="" class="RequestForm--answer" id="li-1">
                            <div data-v-c169ef14="" class="RequestForm--answer-area">
                                

                                    <label data-v-c169ef14="" for="checkbox-text-5" class="inputtext">
                                            <div data-v-c169ef14="" class="text-area">
                                                <div data-v-c169ef14="" class="text">페트 병 개수
                                                </div>
                                                    <div data-v-c169ef14="" class="text-desc">
                                        </div>
                                    </div>
                                    </label>
                                </div>

                                <div data-v-c169ef14="" class="extra-area text">

                                        <!-- 1 input -->
                                    <input data-v-c169ef14="" name="requestExtraText" type="text" placeholder=" ex) 최소 개수 : 5" class="form-control" maxlength="255" data-vv-name="requestExtraText" data-vv-validate-on="blur" aria-invalid="false" id="__BVID__163">


                                    <span data-v-c169ef14="" class="validation" style="display: none;">
                                    </span>
                                </div>

                                <!----><!---->
                            </li> 

                            <!-- 2 -->
                            <li data-v-c169ef14="" class="RequestForm--answer" id="li-2">
                                <div data-v-c169ef14="" class="RequestForm--answer-area">
    
    
                                        <label data-v-c169ef14="" for="checkbox-text-5" class="inputtext">
                                                <div data-v-c169ef14="" class="text-area">
                                                    <div data-v-c169ef14="" class="text">유리병 캔 개수
                                                    </div>
                                                        <div data-v-c169ef14="" class="text-desc">
                                            </div>
                                        </div>
                                        </label>
                                    </div>
    
                                    <div data-v-c169ef14="" class="extra-area text">
    
                                            <!-- 2 input -->
                                        <input data-v-c169ef14="" name="" type="text" placeholder="ex) 최소 개수 : 5" class="form-control" maxlength="255" data-vv-name="requestExtraText" data-vv-validate-on="blur" aria-invalid="false" id="__BVID__163">
    
    
                                        <span data-v-c169ef14="" class="validation" style="display: none;">
                                        </span>
                                    </div>
    
                                    <!----><!---->
                                </li> 

                                        <!-- 3 -->
                                <li data-v-c169ef14="" class="RequestForm--answer" id="li-3">
                                    <div data-v-c169ef14="" class="RequestForm--answer-area">
    
                                            <label data-v-c169ef14="" for="checkbox-text-5" class="inputtext">
                                                    <div data-v-c169ef14="" class="text-area">
                                                        <div data-v-c169ef14="" class="text">수거 신청자 이름
                                                        </div>
                                                            <div data-v-c169ef14="" class="text-desc">
                                                </div>
                                            </div>
                                            </label>
                                        </div>
        
                                        <div data-v-c169ef14="" class="extra-area text">
        
                                                <!-- 3 input -->
                                            <input data-v-c169ef14="" name="" type="text" placeholder="직접 입력" class="form-control" maxlength="255" data-vv-name="requestExtraText" data-vv-validate-on="blur" aria-invalid="false" id="__BVID__163">
        
        
                                            <span data-v-c169ef14="" class="validation" style="display: none;">
                                            </span>
                                        </div>
        
                                        <!----><!---->
                                    </li> 

                                        <!-- 4 -->
                                    <li data-v-c169ef14="" class="RequestForm--answer" id="li-4">
                                        <div data-v-c169ef14="" class="RequestForm--answer-area">
            
            
                                                <label data-v-c169ef14="" for="checkbox-text-5" class="inputtext">
                                                        <div data-v-c169ef14="" class="text-area">
                                                            <div data-v-c169ef14="" class="text">수거 할 주소 
                                                            </div>
                                                                <div data-v-c169ef14="" class="text-desc">
                                                    </div>
                                                </div>
                                                </label>
                                            </div>
            
                                            <div data-v-c169ef14="" class="extra-area text">
            
                                                    <!-- 4 input -->
                                                <input data-v-c169ef14="" name="" type="text" placeholder="직접 입력" class="form-control" maxlength="255" data-vv-name="requestExtraText" data-vv-validate-on="blur" aria-invalid="false" id="__BVID__163">
            
            
                                                <span data-v-c169ef14="" class="validation" style="display: none;">
                                                </span>
                                            </div>
            
                                            <!----><!---->
                                        </li> 



                                        <!-- 5 -->
                                    <li data-v-c169ef14="" class="RequestForm--answer" id="li-5">
                                        <div data-v-c169ef14="" class="RequestForm--answer-area">
            
                                            <!-- 5 -->
            
                                                <label data-v-c169ef14="" for="checkbox-text-5" class="inputtext">
                                                        <div data-v-c169ef14="" class="text-area">
                                                            <div data-v-c169ef14="" class="text">수거 메시지
                                                            </div>
                                                                <div data-v-c169ef14="" class="text-desc">
                                                    </div>
                                                </div>
                                                </label>
                                            </div>
            
                                            <div data-v-c169ef14="" class="extra-area text">
            
                                                    <!-- 5 input -->
                                                <input data-v-c169ef14="" name="" type="text" placeholder="직접 입력" class="form-control" maxlength="255" data-vv-name="requestExtraText" data-vv-validate-on="blur" aria-invalid="false" id="__BVID__163">
            
            
                                                <span data-v-c169ef14="" class="validation" style="display: none;">
                                                </span>
                                            </div>
            
                                            <!----><!---->
                                        </li> 
                                                            
                            </ul>
                      
                        </div>
                        <!----><!----><!---->
                    </div>
                    
                    <div data-v-a27bfd4a="" class="step-wrapper">
                        <div data-v-a27bfd4a="" class="validation-wrapper" style="display: none;">
                            <span data-v-a27bfd4a="" class="validation">
                            </span>
                        </div>
                        <div data-v-a27bfd4a="" class="button-wrapper"><!---->
                            <button data-v-a27bfd4a="" type="button" data-testid="request-next-btn" class="step-btn color-teal" id="nextli" style="cursor:pointer"> 다음 </button>
                        </div>
                        <div data-v-a27bfd4a="" class="button-wrapper" id="submit"><!---->
                            <button data-v-a27bfd4a="" type="button" data-testid="request-next-btn" class="step-btn color-teal" id="" style="cursor:pointer"> 완료 </button>
                        </div>
                    </div>

                </form>

                <!-- form end -->


            </div>
            <div data-v-158066f9="" data-name="usage-tip">
                <h4 data-v-158066f9="">수거신청은 어떤 서비스 인가요?</h4>
                <p data-v-158066f9="" class="p2"> 
                    수거가 필요한 고객과 서비스를 제공하는 파트너를 쉽고 빠르게 연결해드리는 수거 매칭 서비스입니다.
                    <br data-v-158066f9=""> 
                    수거 목록 요청서를 작성하면, 별별쓰담에서 여러 파트너들이 보내드려요.
                    <br data-v-158066f9=""> 
                    맘에 쏙 드는 수거 맞춤형 서비스를 받아보세요. 
                </p>
                <h4 data-v-158066f9="">
                    프로그래밍/코딩 레슨 고수만을 모았다!
                </h4>
                <p data-v-158066f9="" class="p2">프로그래밍, 코딩에 관심 있으신가요?
                    <br>
                    나의 현재 수준과 목표에 맞춰 수업을 진행하는 100% 맞춤 프로그래밍/코딩 과외를 만나보세요.<br>선생님 프로필, 커리큘럼, 비용 비교하고 결정할 수 있어요.
                    <br>
                    숨고를 통해 프로그래밍/코딩을 마스터하세요!
                </p>
            </div>
        </section>

    <!-- input end -->


<!-- footer start -->
<!-- footer end -->
    
</body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/recycling.js"></script>
</html>