<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <thead>
    <tr class="tHead">
        <th class="bno">아이템 번호</th>
        <th class="title">아이템 제목</th>
        <th class="writer">아이템 가격</th>
        <th class="regDate">아이템 재고</th>
        <th class="regDate">체크 여부</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="item:${items}">
        <tr class="tBody" th:object="${item}">
            <td class="bno" th:text="*{itemNumber}"></td>
            <td class="title"><a class="read" th:text="*{itemName}" th:href="*{itemNumber}"></a></td>
            <td class="writer" th:text="*{itemPrice}"></td>
            <td class="regDate" th:text="*{itemStock}"></td>
            <td class="check"><input type="checkbox" name="xxx" value="yyy" checked></td>
        </tr>
    </th:block>
    </tbody>

</table>
<button> 주문하기 </button>
<br>
<button> 주문내역보기 </button>
<br>
<form>
<input name="keyword">
    <button>검색하기</button>

</form>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript"></script>
</body>
</html>